@import "https://cdn.jsdelivr.net/npm/water.css@2/out/water.css";

html {
  max-width: 38rem;
  padding: 1rem;
  margin: auto;
  line-height: 1.5rem;
  font-size: 24px;
  height: 100%;
  overflow: hidden;
  background-color: #202b38 !important;
}

body {
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
}

h2 {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid grey;
}

#addProject {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
}
#addProject > * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

#addProjectForm {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  width: 80%;
}
#addProjectForm > * {
  box-sizing: border-box;
  width: 100%;
}

#buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid grey;
}

#doneContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

button,
label,
h2,
h3 {
  text-transform: uppercase;
}

#doneContainer:hover {
  cursor: pointer;
}

.hidden {
  visibility: collapse !important;
}

#deleteTask:hover,
#deleteProject:hover {
  background-color: rgb(107, 25, 25);
}

.priority2:hover {
  background-color: orange;
}
.priority3:hover {
  background-color: red;
}

div > form {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid grey;
}

div > form > * {
  box-sizing: border-box;
  width: 100%;
}
div > form > input:hover {
  background-color: #0d1218;
}
