@import "https://cdn.jsdelivr.net/npm/water.css@2/out/water.css";

html {
  max-width: 38rem;
  padding: 1rem;
  margin: auto;
  line-height: 1.5rem;
  font-size: 24px;
  height: 100%;  
  overflow: hidden;
  background-color: #1a222d !important;
}

body {
  padding-top: 1rem !important;
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #1a222d !important;
}

h2 {
  text-transform: uppercase;
  border-bottom: 1px solid grey;
}

#addProjectForm {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

#buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#doneContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

button,
label,
h2,
h3 {
  text-transform: uppercase;
}

label:hover {
  cursor: pointer;
}
